.arcadeTable {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 8px 0;
}

.arcadeTableRow {
  display: flex;
  align-items: center;
}

.arcadeTableColumn {
  border: solid 1px rgb(200, 200, 200);
  font-size: 13px;
  padding: 4px 8px;
  background-color: #f5f5f5;
}

.arcadeTableColumn.version {
  width: 60px;
  text-align: center;
}

.arcadeTableColumn.type {
  width: 80px;
}

.arcadeTableColumn.amount {
  width: 60px;
  text-align: right;
}

.addArcadeButton {
  color: #2d72d2;
  background: none;
  border: 1px dashed #2d72d2;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 8px;
  width: 100%;
  margin-top: 4px;
}

.editingInput {
  font-size: 14px;
  padding: 2px 4px;
  border: 1px solid #ccc;
}

.editingButtons {
  display: flex;
  gap: 2px;
  padding: 0 2px;
}

.confirmButton {
  background-color: white;
  color: #017c07;
  cursor: pointer;
  padding: 2px 8px;
  width: fit-content;
  border: 1px solid #017c07;
  border-radius: 3px;
}

.cancelButton {
  background-color: white;
  color: #c23030;
  cursor: pointer;
  padding: 2px 8px;
  width: fit-content;
  border: 1px solid #a80909;
  border-radius: 3px;
}

.collectionButton {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 2px 3px;
  border-radius: 3px;
  transition: all 0.15s;
}

.collectionButton:hover {
  background-color: #ebebeb;
}
