#search_container {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgba(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 114514;
}

#search_container input {
  padding: 5px;
  width: -webkit-fill-available;
}

.searchInputContainer {
  border: 1px solid rgb(54, 54, 54);
  padding: 2px 5px;
  border-radius: 3px;
}

.searchInput {
  border: none;
}

#storepopup_title {
  font-size: large;
  font-weight: bold;
}

.filter {
}

.filterSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.filterSection p {
  margin-bottom: 0;
}

.filterSectionItem {
  width: 100%;
}

select {
  padding: 5px;
}

.filterCloseButton {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: white;
  cursor: pointer;
}

@media (any-hover: hover) {
  .filterCloseButton:hover {
    background-color: rgb(219, 219, 219);
  }
}
.filterCloseButton:active {
  background-color: rgb(197, 197, 197);
}

.businessTime {
}
.arcadeAmount {
}

/* override */
.leaflet-popup-content {
  width: fit-content !important;
}

.popupContents {
  width: fit-content;
}

.popupContents p {
  margin: 0 !important;
}

.popupItem {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 10px;
}

.popupItem p {
  margin: 10px 0 !important;
}

.editButton {
  height: min-content;
  background-color: white;
  border: none;
  cursor: pointer;
  color: #2d72d2;
  width: max-content;
}
