.login-container {
  background: linear-gradient(151deg, rgba(233, 209, 237, 1) 0%, rgba(233, 209, 237, 1) 36%, rgba(0, 212, 255, 1) 100%);
  min-height: 100%;
  display: flex;
  padding-top: 100px;
  justify-content: center;
  box-sizing: border-box;
}

.login-form {
  background: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-left-color: rgb(173, 173, 173);
  border-top-color: rgb(173, 173, 173);
  border-right-color: black;
  border-bottom-color: black;
  border-width: 3px;
  border-style: solid;
  padding: 2rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  align-items: center;
}

.login-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #374151;
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-input {
  width: 100%;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
  border-left-color: black;
  border-top-color: black;
  border-right-color: rgb(173, 173, 173);
  border-bottom-color: rgb(173, 173, 173);
  border-width: 3px;
  border-style: solid;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
  background-color: #f5f5f5;
}

.login-input:focus {
  outline: none;
  background-color: #ffffff;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

.login-button {
  width: 100%;
  padding: 0.7rem;
  font-weight: 500;
  cursor: pointer;
}

.login-tip {
  text-align: center;
  margin-top: 0.75rem;
  color: #ef4444;
  min-height: 1.5rem;
}

.auto-login-checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.auto-login-label {
  user-select: none;
}

.login-form-item-container {
  width: 100%;
}

.login-form-footer-buttons-container {
  display: flex;
  justify-content: space-between;
}
