.retro-button {
  background-color: rgb(247, 247, 247);
  border-left-color: rgb(212, 212, 212);
  border-top-color: rgb(212, 212, 212);
  border-right-color: #505050;
  border-bottom-color: #505050;
  border-width: 3px;
  border-style: solid;
}

@media (any-hover: hover) {
  .retro-button:hover {
    border-left-width: 2px;
    border-top-width: 2px;
    border-right-width: 4px;
    border-bottom-width: 4px;
  }
}
.retro-button:active {
  border-left-width: 4px;
  border-top-width: 4px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-color: #505050;
  border-top-color: #505050;
  border-right-color: rgb(212, 212, 212);
  border-bottom-color: rgb(212, 212, 212);
  background-color: rgb(241, 241, 241);
}

.retro-button.select {
  border-left-width: 4px;
  border-top-width: 4px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-color: black;
  border-top-color: black;
  border-right-color: rgb(117, 117, 117);
  border-bottom-color: rgb(117, 117, 117);
  background-color: rgb(201, 201, 201);
}

.retro-button:disabled {
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

* {
  /*font-family: serif;*/
}
