header {
  border-color: black;
  border-left-width: 3px;
  border-top-width: 3px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
}

.mobileHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.desktopHeader {
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}

main {
  border-left-color: black;
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: black;
  border-left-width: 3px;
  border-top-width: 0px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-style: solid;
}

#headertitle {
  font-size: 20px;
  font-weight: bold;
  margin: 0 10px 0 10px;
}

menu {
  display: flex;
  gap: 5px;
}
menu button {
  background-color: white;
  border-left-color: rgb(173, 173, 173);
  border-top-color: rgb(173, 173, 173);
  border-right-color: black;
  border-bottom-color: black;
  border-width: 3px;
  border-style: solid;
  font-size: large;

  cursor: pointer;
  user-select: none;
  height: 100%;
  margin: 0 0px 0 0px;
  padding: 0 5px 0 5px;
}
@media (any-hover: hover) {
  menu button:hover {
    border-left-width: 2px;
    border-top-width: 2px;
    border-right-width: 5px;
    border-bottom-width: 5px;
  }
}
menu button:active {
  border-left-width: 4px;
  border-top-width: 4px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  background-color: rgb(241, 241, 241);
}

menu button.select {
  border-left-width: 4px;
  border-top-width: 4px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-color: black;
  border-top-color: black;
  border-right-color: rgb(117, 117, 117);
  border-bottom-color: rgb(117, 117, 117);
  background-color: rgb(201, 201, 201);
}
